<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan" parallel="tests" thread-count="2">
	<!-- "parallel" will run tests simultaneously and "thread-count" will
	assure the no. of tests executing simultaneously.-->

	<listeners>
		<listener class-name="section16.Listeners_143" />
	</listeners>

	<parameter name="URL" value="qaclickacademy.com" />
	<parameter name="APIKey/username" value="123456" />

	<test thread-count="5" name="Personal loan">
		<classes>
			<class name="section16.TestNg1_131">
				<methods>
					<exclude name="Demo2" />
				</methods>
			</class>
			<class name="section16.TestNg2_132" />
			<class name="section16.TestNg3_133">
				<methods>
					<include name="LoginApiHomeLoan" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="Car loan">
		<parameter name="carURL" value="carloan.com" />
		<classes>
			<class name="section16.TestNg4_133">
				<methods>
					<exclude name="Mobile.*" /> <!-- exclude any test method that
					starts with "Mobile" using regex -->
				</methods>
			</class>
		</classes>
	</test>
</suite> 
